// Global default params, used in configs
params {
  
  // Choose between "symlink" - absolute path, "rellink" -relative path, "link " -hard link, "copy"
  publish_dir_mode="copy" 

  // Workflow flags
  input_img_mask = "./data/Test"
  pyrad_setting = "./data/params.yml"
  pattern = "*_{image,seg}.n*"
  readPaths = false

  // Boilerplate options
  outdir = './results'
}


process {

  memory = "16GB"
  cpus = 1

  // Retry failed processes once 
  maxRetries = 0
  errorStrategy = 'retry'

  // Per-process configuration
  withName:pyTask {
    cpus = 16 
    memory = "64GB"
  }
  withName:DCMconversion {
    cpus = 16 
    memory = "64GB"
  }
}